* {
  box-sizing: border-box;
}

/* IMAGE */
#showcase {
  position: relative;
  background: url("../img/showcase.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px; /* 100vh */
}

/* DARK OVERLAY */
#showcase .bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 600px;
  background-color: rgba(0, 0, 0, 0.7);
}

.showcase-inner {
  padding-top: 100px;
}

#subhead p {
  font-weight: 400;
  color: #111;
}

#cases .cases-text {
  font-weight: 400;
  font-size: 2rem;
}

#dashboard {
  background-color: #121212;
}

#dashboard .card {
  border-radius: 0.5rem;
}

#country-table {
  background-color: #121212;
}

.border-left-info {
  border-left: 5px solid #1f9bcf;
}

.border-left-warning {
  border-left: 5px solid #f0ad4a;
}
.border-left-success {
  border-left: 5px solid #4bbf73;
}

.border-left-danger {
  border-left: 5px solid #d9534f;
}

.new {
  font-size: 13px !important;
  letter-spacing: -0.5px !important;
}

tr {
  height: 2px !important;
}
